/*Общие свойства*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans Light";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Gilroy - Extra Bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
}

body {
  font-family: "Gilroy - Extra Bold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  text-transform: none;
  color: #000000;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/*Остальная стилизация*/
.header {
  width: 1160px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.navigation {
  position: relative;
  background-color: rgba(240, 197, 46, 0.5);
  min-height: 300px;
}

.navigation__logo {
  position: absolute;
  top: -16px;
  left: 60px;
}

.navigation__search {
  display: flex;
  padding-top: 50px;
  padding-left: 60px;
}

.navigation__search input {
  border: none;
  background-color: rgba(240, 197, 46, 0.2);
  opacity: 0.3;
}

.navigation__search input:hover {
  opacity: 0.6;
  background-color: rgba(240, 197, 46, 0.1);
}

.navigation__search input:focus {
  opacity: 1;
  outline: none;
  background-color: rgba(240, 197, 46, 0);
}

.navigation__search label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 47px;
  border: 2px solid #000000;
  border-bottom: 0;
  margin-left: 70px;
}

.navigation__search label:hover {
  background-color: #000000;
  color: #ffffff;
}

.navigation__search label:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation__search_input {
  display: flex;
}

.navigation__search_label {
  position: relative;
  visibility: hidden;
}

.navigation__search_label::after {
  visibility: hidden;
  position: absolute;
  content: "";
  width: 350px;
  height: 2px;
  background-color: #000000;
  right: 0;
}

.navigation__search_input:hover .navigation__search_label,
.navigation__search_input:hover .navigation__search_label::after {
  visibility: visible;
}

.header__nav_wrapper {
  display: flex;
}

.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 58px;
  margin-left: 150px;
}

.navigation__list li:nth-child(2) {
  padding-left: 238px;
}

.navigation__list li:nth-child(3) {
  padding-left: 65px;
}

.services p,
.navigation__search input,
.navigation__search label,
.navigation__list a,
.navigation__site_nav .navigation__catalog a {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-transform: none;
}

.navigation__site_nav {
  display: flex;
  margin: 0 60px;
  padding: 0;
  margin-top: 50px;
}

.navigation__site_nav li:nth-child(1) {
  margin-right: 300px;
}

.navigation__site_nav li:nth-child(2) {
  padding-right: 38px;
}

.navigation__site_nav li:nth-child(3) {
  padding-right: 114px;
}

.navigation__catalog ul,
.navigation__site_nav .navigation__catalog li {
  margin: 0;
  padding: 0;
}

.navigation__site_nav a {
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation__catalog {
  visibility: hidden;
  position: absolute;
  display: flex;
}

.navigation__site_nav li:nth-child(1):hover .navigation__catalog {
  visibility: visible;
}

.slider__controls button {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0;
  margin-right: 21px;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider__list_quadrocopter b,
.slider__list_bracelet b,
.slider__list_selfie b {
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
}

.slider__list_quadrocopter p,
.slider__list_bracelet p,
.slider__list_selfie p {
  color: #464646;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.slider__list_quadrocopter .button,
.slider__list_bracelet .button,
.slider__list_selfie .button {
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.products__items a:hover,
.slider__list_quadrocopter .button:hover,
.slider__list_bracelet .button:hover,
.slider__list_selfie .button:hover {
  opacity: 1;
}

.products__items a:active,
.slider__list_quadrocopter .button:active,
.slider__list_bracelet .button:active,
.slider__list_selfie .button:active {
  opacity: 0.3;
}

.slider__list_item {
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.slider__list_description {
  color: #464646;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.products__items {
  letter-spacing: 0.18px;
}

.services {
  background-color: #e5e5e5;
}

.services__list {
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.services h3 {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.services p {
  color: #464646;
}

.links__list {
  display: flex;
  height: 100%;
}

.links__list li {
  display: block;
  width: 260px;
  height: 100px;
}

.links__list li:nth-child(1) {
  background-image: url("../img/logo-1.jpg");
}

.links__list li:nth-child(1):hover {
  background-image: url("../img/logo-1-copy.jpg");
}

.links__list li:nth-child(2) {
  background-image: url("../img/logo-2.jpg");
}

.links__list li:nth-child(2):hover {
  background-image: url("../img/logo-2-copy.jpg");
}

.links__list li:nth-child(3) {
  background-image: url("../img/logo-3.jpg");
}

.links__list li:nth-child(3):hover {
  background-image: url("../img/logo-3-copy.jpg");
}

.links__list li:nth-child(4) {
  background-image: url("../img/logo-4.jpg");
}

.links__list li:nth-child(4):hover {
  background-image: url("../img/logo-4-copy.jpg");
}

.info h3 {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.info p {
  color: #464646;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.info__companies {
  font-size: 16px;
  line-height: 40px;
}

.info a {
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.footer {
  background-color: #464646;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.footer img {
  fill: #ffc600;
}

.footer__nav_list a {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.footer__site_nav a {
  color: #ffffff;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer__nav_list a:hover {
  opacity: 1;
}

.footer__nav_list a:active {
  opacity: 0.3;
}

.popup__item input,
.popup__item textarea {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.popup__submit {
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.main__nav h1 {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
}

.main__nav_list a {
  opacity: 0.3;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.main__nav_list a:hover {
  opacity: 0.6;
}

.main__nav_list a:active {
  opacity: 0.1;
}

.filter h3,
.cards h3 {
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.filter__form legend {
  letter-spacing: 0.18px;
}

.filter__form fieldset {
  border: none;
}

.filter__form ul {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.count__form_price {
  opacity: 0.2;
  color: #000000;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.count__form_price input {
  border: none;
  outline: none;
}

.filter__button {
  outline: none;
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.cards__filter_link {
  opacity: 0.3;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.cards__filter_link:active,
.cards__filter_link--current,
.cards__filter_link--current:hover {
  opacity: 1;
}

.cards__product p {
  letter-spacing: 0.18px;
}

.cards__product b {
  color: #464646;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.cards__product a {
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.cards__product a:hover {
  opacity: 1;
}

.cards__product a:active {
  opacity: 0.3;
}

.cards__product button {
  opacity: 0.5;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.13px;
  outline: none;
}

.cards__product button:hover {
  opacity: 1;
}

.cards__product button:active {
  opacity: 0.2;
}

.cards__product li {
  position: relative;
}

.cards__product_count {
  position: absolute;
  visibility: hidden;
  overflow: overlay;
  max-width: 360px;
  max-height: 380px;
}

.cards__product:hover .cards__product_count {
  visibility: visible;
}

.cards__pagination {
  display: flex;
  width: 760px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.08);
}

.cards__pagination_item {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  opacity: 0.3;
}

.cards__pagination_item-back,
.cards__pagination_item-next,
.cards__pagination_item--current,
.cards__pagination_item--current:hover,
.cards__pagination_item--current:active,
.cards__pagination_item:active {
  opacity: 1;
}

.cards__pagination_item-back,
.cards__pagination_item-next {
  display: block;
  width: 100px;
  height: 100%;
}

.cards__pagination_item-back:hover,
.cards__pagination_item-next:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.18);
}

.cards__pagination_item-back:active,
.cards__pagination_item-next:active {
  opacity: 0.3;
}
